@import "variables";

.custom-button {
  border-radius: $border-radius-pill;
  padding: $spacing-xxs;
  min-width: 150px;
  text-transform: uppercase;

  &-orange {
    border: none;
    background-color: $Orange;
    color: $White;

    &:hover {
      background-color: $Blue;
    }
  }

  &:disabled {
    opacity: .5;

    &:hover {
      background-color: $Orange;
    }
  }
}
