// Colors
$White: #F3F3F3;
$Black: #111111;
$Gray: #707070;
$Blue: #1E8F9E;
$Light_Blue: #BDD4D7;
$Orange: #EB8F49;
$Light_Orange: #F5E8DF;
$Red: #EB716A;
$Green: #559E72;

// Helpers - general
$border-radius-default: 8px;
$border-radius-small: 5px;
$border-radius-pill: 20px;

// Helpers - spacing
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-s: 0.75rem;
$spacing-m: 1rem;
$spacing-l: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl-2: 2rem;
$spacing-xxl-4: 2.5rem;

//Helpers - font
$font-general-weight-light: 300;
$font-general-weight-semibold: 600;
$font-general-weight-bold: 700;

$font-family-open-sans: 'Open Sans', sans-serif;
