@import "variables";
$theme-colors: (
        'primary': $Blue,
        'secondary': $Orange,
        'success': $Green,
        'info': #ff7d50,
        'warning': #ffbe0b,
        'danger': $Red,
        'light': $White,
        'dark': $Black,
);
@import "card";
@import "buttons";
@import "forms";
@import "../../node_modules/bootstrap/scss/bootstrap";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-open-sans;
  background-color: $White;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.disabled-link {
  pointer-events: none;
}

.main-container {
  max-width: 60%;
  margin: 0 auto;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.loading-spinner {
  width: 9rem;
  height: 9rem;

  &-small {
    width: 4rem;
    height: 4rem;
  }
}

.full-width {
  width: 100%;
}

@import "variables";

.sideNavContainer {
  width: 20%;
  height: 100vh;
}

.projectPageContainer, .recordingPageContainer {
  right: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.recordingPageContainer {
  background-color: $Light_Blue;
  border-radius: $border-radius-default 0  0 $border-radius-default;
  padding: 2rem;
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  padding: 34px;
}

*::-webkit-scrollbar-track {
  background: $Light_Blue;
  opacity: 0.3;
}

*::-webkit-scrollbar-thumb {
  background-color: $Blue;
  border-radius: 20px;
  border: 1px solid transparent;
}

