@import "variables";
$theme-colors: (
        'primary': $Blue,
        'secondary': $Orange,
        'success': $Green,
        'info': #ff7d50,
        'warning': #ffbe0b,
        'danger': $Red,
        'light': $White,
        'dark': $Black,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "buttons";
@import "forms";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-open-sans;
  background-color: $White;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

