
.projectSelection {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    margin-right: 1rem;
    
    &:focus {
        box-shadow: none;
        border: none;
    }

    option {
        font-size: 1rem;
    }
}
.projectDescription {
    padding-bottom: 1rem;
    padding-right: 2rem;
}
