@import "variables";

.projectSelection {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    margin-right: 1rem;
    outline: none;
    
    &:focus {
        box-shadow: none;
        border: none;
    }

    option {
        position: absolute;
        font-size: 1rem;
    }

}
.projectDescription {
    padding-bottom: 1rem;
    padding-right: 2rem;
}
