@import "variables";

.sideNavContainer {
  width: 20%;
}

.projectPageContainer {
  right: 0;
  width: 80%;
  background-color: $Light_Blue;
  border-radius: $border-radius-default 0  0 $border-radius-default;
}
