@import "../../styles/variables";

.regionAnnotation {
  border-radius: $border-radius-pill;
  min-width: 150px;
  padding: 0.5rem;
  border: none;
  background-color: $Blue;
  color: $White;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.pinAnnotation {
  border-radius: $border-radius-pill;
  min-width: 150px;
  padding: 0.5rem;
  border: none;
  background-color: $Orange;
  color: $White;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.noContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
  }
}