@import "../../styles/variables";

.projectBar {
  width: 100%;
  background-color: $Light_Blue;
  height: 2.5rem;
  margin-top: 1rem;
  border-radius: $border-radius-default;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &.inactive {
    opacity: 0.5;
  }
}

.itemHolder {
  position: relative;
  width: 100px;
  height: 20px;
  background-color: yellow;
}
.sub {
  position: absolute;
  top: 0;
  left: 0;
}
